/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}

/* HEADER */
.topbar {
    height: 70px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


.search {
    height: 36px;
    width: 260px;
    border-radius: 18px;
    border: none;
    padding-left: 12px;
    background: #e4e6eb;
}

.nav-btn {
    background: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr 260px;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

/* LEFT SIDEBAR */
.profile-card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar.small {
    width: 40px;
    height: 40px;
}

.title {
    margin: 10px 0;
    font-weight: bold;
}

.item {
    margin-bottom: 10px;
}

/* STORIES */
.stories {
    display: flex;
    gap: 10px;
}

.story {
    width: 120px;
    height: 200px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
}

/* CREATE POST */
.create-post {
    background: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* POSTS */
.post {
    background: white;
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;
}

.post-head {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.post-img.tall {
    height: 360px;
}

.actions {
    margin-top: 10px;
    color: #555;
    font-weight: bold;
}

/* RIGHT SIDEBAR */
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}

.suggest {
    padding: 8px 0;
}
